# Namnet på certifikatfilerna kan vara en absolut eller relativ sökväg till en fil
# i filsystemet eller en resurs som finns tillgänglig på classpath.
# Sökvägarna kan innehålla system properties, t.ex. ${user.home}.

restbase=https://api.mit.ladok.se/
restApiTransportProtcol=<protocol name>          # Defaults to TLSv1.2 (TLSv1.0, TLSv1.1, SSLv2, SSLv3)
clientCertificateFile=<filename>
clientCertificatePwd=<password>
clientCertificateKeystoreType=<key store format> # Defaults to PKCS12

# Vissa JAX-RS-implementationer kräver en trust store medan andra inte kräver
# det. Nedanstående properties är därför optional.
trustStoreFile=<filename>
trustStorePwd=<password>
trustStoreType=<trust store format>              # Defaults to JKS
