# Namnet på certifikatfilerna kan antingen innehålla absoluta sökvägar
# som "/path/to/certificate.jks" eller en relativ sökväg i förhållande
# till system propertyn 'user.home'. Inledande / avgör hur klienten ska
# hantera filen.

restbase=https://api.mit.ladok.se/
restApiTransportProtcol=<protocol name>          # Defaults to TLSv1.2 (TLSv1.0, TLSv1.1, SSLv2, SSLv3)
clientCertificateFile=<filename>
clientCertificatePwd=<password>
clientCertificateKeystoreType=<key store format> # Defaults to PKCS12
trustStoreFile=<filename>
trustStorePwd=<password>
trustStoreType=<trust store format>              # Defaults to JKS
